<!DOCTYPE html>
<html>
  <head>
    <title>multiOAuth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h2>
        multi-OAuth
      </h2>
    </header>
    <main>
      <section>
				<div>
					<p>This is Homepage!</p>
					<p><a href="/users/login">User Login</a></p>
					<p><a href="/users/register">User Registration</a></p>
				</div>
			</section>
    </main>
    
  </body>
</html>
